/* Steve jobs' book */

.sj-book .even{
	background-image:url(../pics/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.sj-book .odd{
	background-image:url(../pics/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}

.instructions{
	    margin-top: 15%;
    padding-left: 15%;
    color: white;
    position: absolute;
    z-index: 200;
    background-color: rgba(255, 0, 0, 0.3);
    width: 100%;
}

